node_modules/
bundle.js
bundle.js.map
tmp/
/public/assets


# Edited .gitignore from ActiveStorageDemo
# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*

/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
