// Dark Blue (Main Color)
$dark-blue: #000573;

// Lighter Blue (for Hovering over Dark Blue)
$blue: #111abd;

// Pink (logo)
$logo-pink: #fd6c6c;

// Darkened Pink (hovering over Logo Pink)
$dark-pink: #ff5757;

// Super Light Gray (for Hovering over White)
$super-light-gray: #fff; 




