// for app.scss

// Spaces out SoundOcean and Sign in/Create account button
header {
  display: flex;
  justify-content: space-between;
}

// Remove underline from SoundOcean header link
a:link {
  text-decoration: none;
}

.navbar-Left {
  margin: 10px;
}
