.createTrackFormBody {
    width: 960px;
    margin: auto;
    background-color: white;
}

// ------------------------------------>
.upload-tab-parent {
    padding-top: 48px;
    width: 960px;
    height: 50px;
    border-bottom: 1px solid #f2f2f2;
}

.upload-tab {
    height: 50px;
    width: 51px;
    font-size: 16px;
    color: #333;
    margin-left: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #111abd;
}


// Upload Form
.upload-form-parent-parent {
    width: 960px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Upload Form: Phase 1 ------------------------------------------------------->

.upload-phase-1-parent {
    display: flex;
    // height: 388px;
    height: 320px;
    width: 800px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 12px -5px rgba(0, 0, 255, .1);

    // margin-top: 104px;
    margin-top: 70px;
    // margin-bottom: 80px;
    margin-bottom: 40px;
}

.upload-p1-top-text {
    margin-top: 108px;
    margin-bottom: 17px;
    color: #333;
    font-size: 22px;
    font-weight: lighter;
}


.upload-track-input-parent {
    color: white;
    font-size: 16px;
    line-height: 18px;
    padding: 12px 62px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000573;
}

.upload-track-input-parent:hover {
    cursor: pointer;
  background-color: #111abd;
}

.upload-track-input {
    display: none;
}


// Upload Form: Phase 2 ------------------------------------------------------->


// - Replace Track (Phase 2)
.replace-track-parent {
    width: 800px;
    height: 44px;
    background: #f5f5f5;
    border-radius: 6px;
    border: 1px solid hsla(0,0%,59.2%,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 34px;
}

.replace-track-left, .replace-track-right {
    font-size: 14px;
    color: #333
}

.replace-track-left {
    margin-left: 18px;
}

.replace-track-right {
    margin-right: 18px;
    padding: 6px 12px;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}

.replace-track-right:hover {
    border: 1px solid #cecece;
}

.replace-track-input {
    display: none;
}

// - Upload Track Form (Phase 2)

.form-info-parent-parent {
    width: 800px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 12px -5px rgba(0, 0, 255, .1);
    margin-bottom: 48px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-info-parent {
    margin: 0px 26px;
}


.form-info-tab-parent {
    width: 100%;
    padding-top: 15px;
    height: 40px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 26px;
}

.form-info-tab {
    height: 40px;
    width: 105px;
    font-size: 24px;
    color: #333;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #111abd;
}

.form-info {
    display: flex;
    margin-bottom: 26px;
    // border: 1px solid red;
}

// --- Image Preview, etc

.image-preview-and-input {
    position: relative;
    display: inline-block;
    // z-index: 0;
    margin-right: 18px;
}

.image-preview-parent {
    width: 260px;
    height: 260px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-preview-art {    
    width: 260px;
    height: 260px;
}

.upload-art-and-input-label {
  position: absolute;
  left: 50%;
  top: 224px;
  transform: translate(-50%, -50%);

  font-size: 14px;
  padding: 6px 0px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background-color: hsla(0,0%,100%,.8);
  width: 128px;
  display: flex;
  justify-content: center;
}

.upload-art-and-input-label:hover {
    cursor: pointer;
    border: 1px solid #cecece;
    background-color: white;
}

#camera-icon {
    color: #333;
    height: 14px;
    width: 14px;
    margin-right: 8px;
}

.upload-art-input {
    display: none;
}

// -- Track Title Input, etc (All) 

.track-title-input-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    // border: 1px solid red;
}

.track-title-and-star {
    display: flex;
    align-items: center;
}

.track-title-text {
    font-size: 14px;
    line-height: 28px;
    color: #333;
    margin-right: 2px;
}

.track-title-star {
    font-size: 14px;
    line-height: 28px;
    color: rgb(206, 22, 22);
}

.track-title-input {
    width: 448px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
}

.track-title-input:focus {
    border: 1px solid rgb(129, 129, 129);  
}

.upload-renderedErrors-parent {
    margin-top: 14px;
}

.upload-renderedErrors {
    font-size: 14px;
    line-height: 28px;
    color: rgb(206, 22, 22);
}


// -- Upload Track Submit

.upload-track-submit-section-parent {
    border-top: 1px solid #f2f2f2;
    width: 800px;
}

.upload-track-submit-section {
    margin: 0px 26px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-track-submit-left {
    display: flex;
}

.upload-track-submit-star {
    font-size: 14px;
    line-height: 26px;
    color: rgb(206, 22, 22);
    margin-right: 2px;
}

.upload-track-submit-text {
    font-size: 14px;
    line-height: 26px;  
    color: #333;
}



.upload-track-submit-right {
    display: flex;
    align-items: center;
}

.upload-track-submit-cancel-button, .upload-track-submit-upload-button {
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    padding: 0px 12px;
}

.upload-track-submit-cancel-button:hover, .upload-track-submit-upload-button:hover {
    cursor: pointer;
}

.upload-track-submit-upload-button:hover {
    // background-color:  #111abd;
    // background-color: #ff8b8b;
    background-color: #ff5757; // Dark Pink
}


.upload-track-submit-cancel-button {
    color: #333
}

.upload-track-submit-upload-button {
    color: white;
    border-radius: 3px;
    // background-color: #000573;
    background-color: #fd6c6c;
}

.uploading-in-progress-text {
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    padding: 0px 12px;
    color: #333;
}




// Upload Success (Phase 3)

.upload-phase-3-parent {
    width: 100%;
}

.upload-phase-3 {
    // border: 1px solid red;
    margin: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Phase 3 Upload File Box

.phase-3-upload-file {
    width: 100%;
    height: 90px;
    border: 2px dashed #e5e5e5;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 36px;
}

.phase-3-upload-file-margin {
    height: 90px;
    margin: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phase-3-upload-file-left {
    color: #333;
    font-size: 18px;
}

.upload-track-input-parent2 {
    color: white;
    font-size: 16px;
    line-height: 18px;
    padding: 11px 40px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000573;
}

.upload-track-input-parent2:hover {
    cursor: pointer;
    background-color: #111abd;
}


// Upload Success Box

.upload-success-box {
    width: 100%;
    height: 176px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 12px -5px rgba(0, 0, 255, .1);
    display: flex;
    align-items: center;
    // margin-bottom: 24px;
    margin-bottom: 106px;
}

.upload-success-box-margin {
    width: 100%;
    height: 176px;
    margin: 0px 25px;
    display: flex;
    // align-items: center;
}

// -- Upload Success Cover Art 

.upload-success-cover-art-parent {
    width: 120px;
    height: 120px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    margin-right: 15px;
}

.upload-success-cover-art {
    width: 120px;
    height: 120px;
}

// --- Upload Success Box Right (Uploaded Track Info + Link)

.upload-success-box-right {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 26px;
}

// ---- .upload-success-box-right-top

.uploaded-track-creator {
    font-size: 14px;
    line-height: 18px;
    color: #999;

    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploaded-track-title {
    font-size: 16px;
    line-height: 18px;
    color: #333;

    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// --- .upload-success-box-right-bottom

.upload-success-box-right-bottom {
    display: flex;
    justify-content: space-between;
}

.upload-complete-text {
    font-size: 16px;
    color: #333;
}

.upload-success-link {
    font-size: 16px;
    color: #38d;
}

.upload-success-link:hover {
    color: #333;
}




// Upload Page: Footer ------------------------------------------------------>
.upload-footer-parent {
  width: 960px;
  height: 66px;
  margin: auto;
  background-color: white;

//   padding-bottom: 136px;
  padding-bottom: 65px;
}


.upload-footer {
  margin: 0px 101px;
  border-top: 1px solid #f2f2f2;
}

.upload-footer-links {
  display: flex;
  padding: 20px 0px 15px;
}

.upload-footer-links a, .upload-footer-links li {
  color: #666;
  font-size: 14px;
}

.upload-footer-links li {
  margin-left: 4px;
  margin-right: 4px;
}

.upload-footer-socials:hover {
  color: #b8b8b8;
}

.upload-language-text {
  color: #333;
  font-size: 14px;
}