.discoverBody {
  width: 960px;
  margin: auto;
  background-color: white;
}

.discover-text-big {
  padding-top: 84px;
  font-size: 24px;

  // font-weight: lighter;
  margin-bottom: 16px;
  margin-left: 32px;
}

.discover-text-small {
  margin-left: 32px;
  font-size: 14px;
  color: #999;
}

.discover-line-top {
  margin: 0px 32px;
  margin-top: 10px;
  border-top: 1px solid #f2f2f2;

  margin-bottom: 30px;
}


//----------------------------------------------------------------------------->
// Discover Page Tracks (4 per row)
.discoverAllTracks {
  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: row;

  width: 960px;
}

//------------------>
.discoverIndexItem {
  margin-left: 64px;
}

.discover-coverArt {
  height: 158px;
  width: 158px;
  border: 1px solid rgba(0, 0, 0, 0.1);   
}

.discover-coverArt:hover {
  cursor: pointer;
}

.discover-track-title {
    font-size: 16px;
    height: 18px;
    color: #333;
    margin-top: 4px;
    margin-bottom: 2px;

    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discover-track-creator-name {
  font-size: 14px;
  height: 16px;
  color: #999;
  margin-bottom: 30px;

  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discover-track-title:hover, .discover-track-creator-name:hover {
  color: black;
}

// Discover Page: Footer ------------------------------------------------------>
.discover-footer-parent {
  width: 960px;
  height: 100px;
  margin: auto;
  background-color: white;
}


.discover-footer {
  margin: 0px 32px;
  border-top: 1px solid #f2f2f2;
}

.discover-footer-links {
  display: flex;
  padding: 20px 0px 15px;
}

.discover-footer-links a, .discover-footer-links li {
  color: #ccc;
  font-size: 14px;
}

.discover-footer-links li {
  margin-left: 4px;
  margin-right: 4px;
}

.discover-footer-socials:hover {
  color: #b8b8b8;
}

.discover-language-text {
  color: #333;
  font-size: 14px;
}