.discoverBody {
    max-width: 901px;
    margin: auto;
}

//----------------------------------------------------------------------------->
// [TESTING] Discover Page - want to display 4 Cover Arts per row
.discoverAllTracks {
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: row;

    // align-content: flex-start;
    // justify-content: space-evenly;
}

.discoverIndexItem {
    margin: 28px;
}
//----------------------------------------------------------------------------->
