.edit-track-form-modal-content {
    width: 850px;
    background-color: white;
    border-radius: 5px;
}

.edit-track-form-margin {
    margin: 0px 26px;
}

// "Basic Info" tab

.edit-form-info-tab-parent {
    width: 100%;
    padding-top: 15px;
    height: 40px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 26px;
}

.edit-form-info-tab {
    height: 40px;
    width: 105px;
    font-size: 24px;
    color: #333;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #111abd;
}

// Edit Form Info (below the tab) All ----------------------------------------->

.edit-form-info {
    display: flex;
    margin-bottom: 26px;
}


// Edit Modal Preview Art + Input----------------------------------------------------->

.edit-image-preview-and-input {
    position: relative;
    display: inline-block;
    margin-right: 18px;
}

.edit-image-preview-parent {
    width: 260px;
    height: 260px;
    background-color: white;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}


.edit-modal-preview-art {
    width: 260px;
    height: 260px;
}


.edit-upload-art-and-input-label {
  position: absolute;
  left: 50%;
  top: 224px;
  transform: translate(-50%, -50%);

  font-size: 14px;
  padding: 6px 0px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background-color: hsla(0,0%,100%,.8);
  width: 128px;
  display: flex;
  justify-content: center;
}

.edit-upload-art-and-input-label:hover {
    cursor: pointer;
    border: 1px solid #cecece;
    background-color: white;
}

#edit-camera-icon {
    color: #333;
    height: 14px;
    width: 14px;
    margin-right: 8px;
}

.edit-upload-art-input {
    display: none;
}

// Edit Track Title Input All ------------------------------------------------->

.edit-track-title-input-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    // border: 1px solid red;
}

.edit-track-title-and-star {
    display: flex;
    align-items: center;
}

.edit-track-title-text {
    font-size: 14px;
    line-height: 28px;
    color: #333;
    margin-right: 2px;
}

.edit-track-title-star {
    font-size: 14px;
    line-height: 28px;
    color: rgb(206, 22, 22);
}

.edit-track-title-input {
    width: 500px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
}

.edit-track-title-input:focus {
    border: 1px solid rgb(129, 129, 129);  
}

.edit-renderedErrors-parent {
    margin-top: 14px;
}

.edit-renderedErrors {
    font-size: 14px;
    line-height: 28px;
    color: rgb(206, 22, 22);
}



// -- Edit Track Submit ------------------------------------------------------->

.edit-track-submit-section-parent {
    border-top: 1px solid #f2f2f2;
    width: 100%;
}

.edit-track-submit-section {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-track-submit-left {
    display: flex;
}

.edit-track-submit-star {
    font-size: 14px;
    line-height: 26px;
    color: rgb(206, 22, 22);
    margin-right: 2px;
}

.edit-track-submit-text {
    font-size: 14px;
    line-height: 26px;  
    color: #333;
}

.edit-track-submit-right {
    display: flex;
    align-items: center;
}

.edit-track-submit-cancel-button, .edit-track-submit-button {
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    padding: 0px 12px;
}

.edit-track-submit-cancel-button:hover, .edit-track-submit-button:hover {
    cursor: pointer;
}

.edit-track-submit-button:hover {
    // background-color:  #111abd;
    background-color: #ff8b8b;
}


.edit-track-submit-cancel-button {
    color: #333
}

.edit-track-submit-button {
    color: white;
    border-radius: 3px;
    // background-color: #000573;
    background-color: #fd6c6c;
}

