// baseed on profile pic sizes = 360x360 + 25px margins
.edit-form-body {
    width: 410px; 
    height: 560px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid purple;
}

.edit-form-body-margin {
    width: 360px; 
    height: 510px;
    // border: 1px solid pink;
}

.edit-form-username {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 9px;
    border-bottom: 1px solid #f2f2f2;

    max-width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 24px;
}

.edit-form-top-text {
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}


// Edit User Profile Pic Section

.edit-user-prof-pic-parent {
    width: 360px;
    height: 360px;
    position: relative;
}

.edit-user-prof-pic, .edit-user-prof-pic-opaque {
    width: 360px;
    height: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.edit-user-prof-pic {
    border-radius: 50%;
}

.edit-user-prof-pic-opaque {
    opacity: 0.25;
}

// Edit Form Modal Bottom Part

.edit-form-bottom-section {
    width: 360px;
    height: 32px;
    margin-top: 28px;
    // border: 1px solid green;
    display: flex;
    justify-content: space-between;
}

// - Left Side

.select-new-prof-pic-button {
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    padding: 0px 12px;
    color: white;
    border-radius: 3px;
    background-color: #000573;
    &:hover {
        cursor: pointer;
        background-color: #111abd;
    }
}


.select-new-prof-pic-button-input {
    display: none;
}


// Right Side

.edit-form-bottom-section-right {
    display: flex;
}





.edit-prof-pic-cancel-button, .edit-prof-pic-save-button {
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    padding: 0px 12px;
}

.edit-prof-pic-cancel-button:hover, .edit-prof-pic-save-button:hover {
    cursor: pointer;
}

.edit-prof-pic-save-button:hover {
    // background-color:  #111abd;
    background-color: #ff8b8b;
}


.edit-prof-pic-cancel-button {
    color: #333
}

.edit-prof-pic-save-button {
    color: white;
    border-radius: 3px;
    // background-color: #000573;
    background-color: #fd6c6c;
}


.updating-image-in-progress-text {
    font-size: 14px;
    line-height: 26px;
    height: 26px;
    padding: 0px 12px;
    color: #333;
}