// Logo in NavBar
.homepage-logo {
  height: 48px;
}

// Spaces both Sections (NavBar on SignUp Page)
.signin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Left Side of NavBar on SignUp Page
.navbar-login-left-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



// Right Section of NavBar (on SignUp Page)
.navbar-login-right-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// [TEST] clear sign in button
.signin-button-navbar {
  background-color: transparent;
  color: white;
  padding: 11px;
  font-size: 14px;
  border: 1px solid rgb(230, 230, 230);
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;

  text-shadow: 2px 2px 10px #000000;
}


.createAccount-button-navbar {
  background-color: #000573;
  color: white;
  padding: 12px;
  font-size: 14px;
  // border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.createAccount-button-navbar:hover {
  background-color: #111abd;
}

.signin-button-navbar:hover {
  border: 1px solid white;
}
