// Logo in NavBar
.logo {
    height: 48px;
}

// To Center Nav Bar -> gives it margins if screen = stretch to wide
.navigation-bar {
  max-width: 1000px;
  margin: auto;
}


// Spaces both Sections (NavBar on SignUp Page)
.signin-navbar {
  display: flex;
  justify-content: space-between;
}

// Left Side of NavBar on SignUp Page
.navbar-login-left-sect {
  display: flex;
  justify-content: space-between;
}

.soundOcean-greeting-text {
  margin-top: 20px;
  margin-left: 10px;
}

// Right Side of NavBar on SignUp Page
.navbar-login-right-sect {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.signin-button-navbar {
  margin-right: 10px;
}

//----------------------------------------------------------------------------->

// NavBar Post-Sign In (1, Logo, 2, Home, 3, Stream, etc)
.navbar-post-signin {
  display: flex;
}

.navbar-post-signin > li {
  margin-top: 16px;
  margin-bottom: 16px;
}

// for the Nav Buttons Post-SignIn (Home, Stream, etc)
.nav-button {
  background-color:#000573;
  color: white;
  padding: 16px;
  border-right: 1px solid black;
}

.upload-button, .home-button {
  background-color:#000573;
  color: white;
  padding: 16px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.nav-button:hover, .upload-button:hover, .home-button:hover {
  background-color: #111abd;
}

// Search Bar
.searchBar {
  height: 18px;
  padding-right: 10px;
  border: 14px solid #000573;
  outline: none;
}



// DROPDOWN (from w3schools example)

/* Dropdown Button */
.dropbtn {
  background-color: #000573;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #111abd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  // will display: changed by toggle from "dropdownFunc"
  display: none; 
  position: absolute;
  background-color:white;
  z-index: 1;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  text-decoration: none;
  display: block;
  border: 1px solid black;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #ccc}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
