// from CSS Friends

.navbar-except-logo {
  display: flex;
  justify-content: space-between;
}

.soundOcean-greeting-text {
  margin-right: 480px;
  margin-top: 20px;
}


.navbar-login-signup {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.signin-button-navbar {
  margin-right: 10px;
}


// NavBar Right (after Signing In -> Home, Stream, Library, etc)

.navbar-Right {
  display: flex;
  justify-content: space-between;
}

.navbar-UList {
  display: flex;
  justify-content: space-between;
}

.navbar-UList > li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 12px;
  margin-right: 12px;
}

.unicode-3-dots {
  font-size: 40px;
  align-items: center;
}


// [TEST] DROPDOWN (from w3schools example)

/* Dropdown Button */
.dropbtn {
  background-color: #000573;
  color: white;
  padding: 14px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #111abd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none; // how to change this (???)
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


