// so far, just CSS for filler ~ Hear the SoundWaves (◠‿◠✿)~
// in both disocver.jsx and homepage.jsx

.filler-flower-text {
  max-width: 901px;
  margin: auto;
}

// [WIP] Goal - nujabes image = background, 
// - centered, small enough + scaled properly

.homepage-pic1 {
  background: image-url('nujabes_working.jpg');
  background-repeat: no-repeat;
  background-size: 1244px 646px;
  height: 646px;
}
