// so far, just CSS for filler ~ Hear the SoundWaves (◠‿◠✿)~
// in both disocver.jsx and homepage.jsx


// To Center Nav Bar -> gives it margins if screen = stretch to wide
// - in homepage.jsx (affects the GreetingsContainer)
.homepage-bar {
  // max-width: 901px;
  width: 901px;
  height: 48px;
  margin: auto;

  background: image-url('nujabes_working_bw_1240x450_darkened_35.jpg');
  background-repeat: no-repeat;
  background-size: 1240px 450px;
  height: 450px;
}

.soundOcean-greeting-text {
  margin-left: 10px;
  // font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 4px 4px 10px #000000;
}

.homepage-blurb-all {

}

.homepage-blurb-big {
  color: white;
  text-align: center;
  font-size: 29px;
  margin-top: 154px;
  margin-bottom: 14px;
  text-shadow: 4px 4px 10px #000000;
}

.homepage-blurb-small {
  color: white;
  text-align: center;
  font-size: 18px;
  text-shadow: 4px 4px 10px #000000;

  margin-left: 155px;
  margin-right: 155px;
}


.so-button-parent {
  display: flex;
  justify-content: center;
}

.so-button1 {
  font-size: 16px;
  padding: 13px 23px;
  background-color: #000573;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 30px; 
}

.so-button {
  font-size: 16px;
  padding: 13px 23px;
  background-color: #000573;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.so-button:hover, .so-button1:hover {
  background-color: #111abd;
}

// ---------------------------------------------------------------------------->
.homepage-middle {
  width: 901px;
  margin: auto;
}


.hear-whats-trending-parent {
  display: flex;
  justify-content: center;
}

.hear-whats-trending {
  font-size: 24px;
  margin-bottom: 36px;
}

// [WIP] Homepage Tracks ------------------------------------------------------>

.homepageAllTracks {
  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: row;

  // max-width: 901px;
  width: 901px;
  margin: auto;
}

.homepageCoverArt, .homepageCoverArtLast {
  width: 136.66px;
  height: 136.66px;
}

.homepageCoverArt {
  margin-right: 16.208px;
}

.homepageTrackText {
  font-size: 14px;
  color: black;
}

.homepageCreatorNameText {
  font-size: 12px;
  margin-bottom: 40px;
  color: #999;
}

.homepageCreatorNameText:hover {
  color: black;
}

.homepageCoverArt:hover, .homepageTrackText:hover, .homepageCreatorNameText:hover {
  cursor: pointer;
}


