.loggedin-navbar-parent {
  background-color: #333;
  position: fixed;
  width: 100%;
  height: 48px;

  z-index: 2;
}

// To Center Nav Bar -> gives it margins if screen = stretch to wide
// - in homepage.jsx (affects the GreetingsContainer)
.navigation-bar {
  position: fixed;
  left: 0;
  right: 0;

  
  margin: auto;
  display: flex;
  justify-content: space-between;

  width: 960px;
  height: 48px;

  background-color:#000573;
}

//----------------------------------------------------------------------------->
// for the Nav Buttons Post-SignIn (Home, Stream, etc)



// NavBar Left Side ---------------------------------------------------------->

.navbar-left {
  height: 48px;
  display: flex;
  align-items: center;
}

.logo-parent{
  height: 48px;
}

.navbar-logo {
  height: 48px;
}

.home-button {
  background-color:#000573;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.nav-button {
  background-color:#000573;
  color: white;
  padding: 16px;
  border-right: 1px solid black;
}



// NavBar Right Side ---------------------------------------------------------->

.navbar-right {
  height: 48px;
  display: flex;
  align-items: center;
}


.upload-button {
  background-color:#000573;
  color: white;
  padding: 16px;
  font-size: 16px;
  // border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.nav-button:hover, .upload-button:hover, .home-button:hover {
  background-color: #111abd;
}


// [WORKS] Profile Pic (mini)
.prof-pic-parent {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000573;
}

.mini-prof-pic {
  height: 36px;
  width: 36px;
  
  border-radius: 100px;
}

.prof-pic-parent:hover {
  background-color: #111abd;
}

.navbar-gh-icon-parent {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000573;
  border-right: 1px solid black;
}

#navbar-gh-icon {
  width: 36px;
  height: 36px;
  color: white;
}

.navbar-gh-icon-parent:hover {
  cursor: pointer;
  // color: #ccc;
  background-color: #111abd;
}

//----------------------------------------------------------------------------->

// DROPDOWN (from w3schools example)


/* Dropdown Button */
.dropbtn {
  background-color: #000573;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  border-right: 1px solid black;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #111abd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  // will display: changed by toggle from "dropdownFunc"
  display: none; 
  position: absolute;
  background-color:white;
  z-index: 1;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content Link div, .dropdown-content div, .dropdown-content a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  display: block;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover, .dropdown-content a:hover {
  background-color: #ccc
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show1 {
  display: block;
  width: 96px;
  right: 0px;
  top: 48px;
}




//----------------------------------------------------------------------------->

// DROPDOWN  2 - User button


/* Dropdown Button */
.dropbtn2 {
  background-color: #000573;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  border-right: 1px solid black;
  border-left: 1px solid black;

  // Note: max-width for the username text itself (not the padding, etc)
  // - can adjust to w/e
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dropdown button on hover & focus */
.dropbtn2:hover, .dropbtn2:focus {
  background-color: #111abd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  // will display: changed by toggle from "dropdownFunc"
  display: none; 
  position: absolute;
  background-color:white;
  z-index: 1;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content2 div {
  color: black;
  text-decoration: none;
  font-size: 16px;
  display: block;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content2 div:hover {background-color: #ccc}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show2 {
  display: block;
  width: 73px;
  top: 48px;
}


// Background blue when ... or User (?) is focused
.focusedBlue {
  background-color: #111abd;
}

