.playbar-parent-parent {
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    position: fixed;
    width: 100%;
    height: 48px; 
    display: flex;
    justify-content: center;  
    // z-index: 2;
    bottom: 0;
}

.playbar-parent {
    background-color: #f2f2f2;
    width: 960px;
    height: 48px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.playbar {
    width: 960px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// [Playbar Left] ------------------------------------------------------------->

.playbar-left {
    display: flex;
    align-items: center;
}

.audio {
}

.playpause-button-parent, .volume-button-parent {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    // Remove if I want to implement prev track button, etc
    // margin: 0 24px;
}

.playpause-button-parent:hover, .volume-button-parent:hover {
    cursor: pointer;
}

#playpause-button-icon, #volume-button-icon {
    width: 15px;
    height: 15px;
    color: #333;
}


// [TEST] Progress Bar --------------------------->

.progressBar-scrub {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
}

.progressBar-scrub p {
    font-size: 14px;
    margin: 0 10px;
}

.progress-time-start {
    color: #111abd;
}

.slider[type='range'] {
    width: 252px;
    overflow: hidden;
    -webkit-appearance: none;
    background: #ccc;
    outline: none;
}

.slider[type='range']::-webkit-slider-thumb {
    width: 4px;
    height: 4px;
    cursor: pointer;
    box-shadow: -252px 0 0 252px red;
}

.slider[type='range']::-webkit-slider-runnable-track {
    // height: 1px;
    -webkit-appearance: none;
}



// .slider[type='range'] {
//     overflow: hidden;
//     width: 252px;
//     -webkit-appearance: none;
//     background-color: #ccc;
//     outline: none;
// }

// .slider[type='range']::-webkit-slider-runnable-track {
//     height: 1px;
//     -webkit-appearance: none;
//     color: red;
// }

// .slider[type='range']::-webkit-slider-thumb {
//     // width: 10px;
//     // -webkit-appearance: none;
//     height: 10px;
//     cursor: pointer;
//     // background: red;
//     box-shadow: -252px 0 0 252px #43e5f7;
// }


// [Playbar Right] ------------------------------------------------------------>

.playbar-right {
    width: 342px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.playbar-coverArt-parent {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    // Remove if I want to implement likes, etc
    // margin-left: 138px;
}

.playbar-coverArt {
    width: 30px;
    height: 30px;
}

.playbar-track-text-parent {
    display: flex;
    flex-direction: column;
    width: 184px;
}

.playbar-text-track-creator {
    font-size: 13px;
    line-height: 18px;
    color: #999;
}

.playbar-text-track-title {
    font-size: 13px;
    line-height: 18px;
    color: #666;
}

.playbar-text-track-creator, .playbar-text-track-title {
    // adjust width, max-width if adding Like Button, etc.
    max-width: 184px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.playbar-text-track-creator:hover, .playbar-text-track-title:hover {
    color: #333;
}

// -------------------->

.playbar-right-blurb {
    width: 90px;
    margin: 0px 10px;
    font-size: 13px;
    line-height: 18px;
    color: #666;
    // text-align: center;
}

.playbar-right-blurb:hover {
    color: #111abd;
    cursor: pointer;
}
 

