// for session_form.jsx

.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


// Not sure why its bigger than the buttons
.login-input {
  width: 386px;
  font-size: 18px;
  outline: none;

  border: 1px solid black;
  border-radius: 4px;
  height: 30px;

  padding-left: 10px;
}


// Submit Button + Demo Button
.submit-button, .demo-button {
  // Curved Borders
  border-radius: 4px;
  outline: none;
  border: none;

  // text color + font
  color: white;
  font-size: 15px;

  // button size
  width: 400px;
  height: 42px;
  cursor: pointer;
}

// Submit Button Colors
.submit-button {
  background-color: #000573;
}
.submit-button:hover {
  background-color: #111abd;
}

// Demo Button Colors
.demo-button {
  background-color: #fd6c6c;
}
.demo-button:hover {
  background-color: #ff8b8b;
}

.login-form-box {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 38px;
  padding-bottom: 38px;

  background: white;
  position: relative;

}

// Modal Blurb - center it
.modalBlurb {
  text-align: center;
}


// Rendered Errors - Red Text
.renderedErrors {
  color: rgb(168, 24, 24);
}

// Sign Up/Sign in "Here" Button - make it look like regular text
.here-button {
  cursor: pointer;
  // pink color (from logo)
  color: #fd6c6c;
}

.here-button:hover { 
  color: black;
}

// ---------------------------------------------------------------------------->
// Modal Stuff

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsla(0,0%,94.9%,.9);
  z-index: 10;
  // [TEST] Animation
  // animation: color-me-out 0.5s;
}


// @keyframes color-me-out {
//   0%{
//     background:rgba(235, 235, 235, 0.7);
//   }
//   100%{
//     background:rgba(235, 235, 235, 0);
//   }
// }

// [TEST] Animation
// @keyframes color-me-in {
//   0%{
//     background:rgba(235, 235, 235, 0);
//   }
//   100%{
//     background:rgba(235, 235, 235, 0.7);
//   }
// }


.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // [TEST] Animation
  // animation: move-me-in 0.5s;
}

// [TEST] Animation
// @keyframes move-me-in {
//   0%{
//     top: -200px;
//   }
//   100%{
//     // position where Modal stops sliding down + sets
//     top: 330px;
//   }
// }



.close-x {
  position: absolute;
  top: 14px;
  right: 22px;
  cursor: pointer;
  color: #000;
  font-size: 22px;
}


// [TEST] Animation (not used right now)

// @keyframes move-me-out {
//   0%{
//     top: 350px;
//   }
//   100%{
//     top: -200px;
//   }
// }




/* Straight Line (for the "or" in Demo Log In Button (session_form.jsx) */
.straightline {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.straightline span { 
  background:#fff; 
  padding:0 8px; 
}
