// for session_form.jsx

.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
  // Curved Borders
  border-radius: 4px;
}


.submit-button {
  // Curved Borders
  border-radius: 4px;
}

.login-form-box {
  // took out outline cuz it's perfectly rectangle (doesn't curve to match border radius)
  // outline: 1px solid black;
  padding: 20px;
  background: white;
  position: relative;
}



// Modal Stuff (SUPER IMPORTANT FOR MODAL TO WORK)
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsla(0,0%,94.9%,.9);
  z-index: 10;
  // [TEST] Animation
  animation: color-me-out 0.5s;
}


@keyframes color-me-out {
  0%{
    background:rgba(235, 235, 235, 0.7);
  }
  100%{
    background:rgba(235, 235, 235, 0);
  }
}

// [TEST] Animation
@keyframes color-me-in {
  0%{
    background:rgba(235, 235, 235, 0);
  }
  100%{
    background:rgba(235, 235, 235, 0.7);
  }
}


.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // [TEST] Animation
  animation: move-me-in 0.5s;
}

// [TEST] Animation
@keyframes move-me-in {
  0%{
    top: -200px;
  }
  100%{
    // position where Modal stops sliding down + sets
    top: 330px;
  }
}



.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #000;
  font-size: 24px;
}


// [TEST] Animation (not used right now)

@keyframes move-me-out {
  0%{
    top: 350px;
  }
  100%{
    top: -200px;
  }
}




/* Straight Line (for the "or" in Demo Log In Button (session_form.jsx) */
.straightline {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.straightline span { 
  background:#fff; 
  padding:0 16px; 
}
