.showTrackBody {
    width: 960px;
    margin: auto;
    background-color: white;
}

.showTrack-padding-top {
    padding-top: 48px;
}

// Show Track Banner
.show-track-banner {
    width: 960px;
    height: 380px;
    // [Filler Gradient] - replace later
    background: rgb(79,84,196);
    background: linear-gradient(90deg, rgba(79,84,196,1) 30%, rgba(255,163,163,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.show-track-banner-margin {
    // border: 1px solid red;
    height: 340px;
    width: 920px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
}



// [WIP] Show Track Banner Left (Play Button, title, creator, date, waveform)
.show-track-banner-left {
    // border: 1px solid red;
    height: 340px;
    width: 660px;
    margin-left: 10px;
    margin-right: 30px;
}

.show-track-banner-left-top {
    display: flex;
    // border: 1px solid red;
}

.track-show-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fd6c6c;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-show-button:hover {
    background-color: #ff5757;
}

#show-track-play-icon, #show-track-pause-icon {
    width: 25px;
    height: 25px;
    color: white;
}

#show-track-play-icon {
    margin-left: 5px;
}

.track-show-button:hover {
    cursor: pointer;
    // background-color: #ff8b8b;
}

// - Show Track Creator and Title
.show-track-creator-and-title {
    width: 465px;
    // border: 1px solid pink;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.show-track-creator-and-date {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid pink;
}

.show-track-creator-parent {
    margin-bottom: 6px;
}

.show-track-creator {
    display: inline;
    color: #CCCCCC;
    font-size: 16px;
    line-height: 19px;
    background-color: #000000CC;
    padding: 3px 7px 3px;

    max-width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-track-creator:hover {
    color: #fff;
}

.show-track-creation-date {
    color: #fff;
    font-size: 16px;
}

.show-track-title {
    display: inline;
    color: #fff;
    background-color: #000000CC;
    font-size: 23px;
    font-weight: lighter;
    line-height: 35px;
    padding: 0px 7px;

    max-width: 350px;
    max-height: 180px;
    white-space: wrap;
    word-break: break-word;
    // overflow: hidden;
    // text-overflow: ellipsis;
}

.track-show-coverArt {
    width: 340px;
    height: 340px;
}

// Below Show Track Banner Section (All) -------------------------------------->

.below-show-track-banner-all {
    margin: 0px 20px;
    display: flex;
}


// - Below Show Track Banner Left Side

// Can use Min Height

.below-show-track-banner-left {
    width: 590px;
    border-right: 1px solid #f2f2f2;

    // for the very bottom, after All Comments (if no comments, can use min height?)
    margin-bottom: 74px;
    padding-right: 30px;
}


// -- Comment Prof Pic and Input (both)

.comment-prof-pic-and-input {
    display: flex;
    margin-bottom: 15px;
}

// --- Comment Form Profile Pic
.show-track-comment-mini-prof-pic {
    width: 40px;
    height: 40px;   
}




// - Buttons Below Comment (Edit Track, Delete Track)
.all-track-mod-icons {
    display: flex;
    // border: 1px solid red;
}


.track-modify-icon-parent {
    width: 30px;
    height: 26px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
}

#track-edit-button, #track-delete-button {
    width: 15px;
    height: 15px;
}


.track-modify-icon-parent:hover {
    cursor: pointer;
    border: 1px solid #cecece;
}

// Edit Track Form Modal (see _edit_track_form.scss) -------------------------->



// Below Edit/Delete Buttons (Left Side) -------------------------------------->

.below-edit-delete-buttons-all {
    display: flex;
    justify-content: space-between;
    width: 562px;
    // border: 1px solid red;
    border-top: 1px solid #f2f2f2;
    padding-top: 20px;
}

// - Creator Pic + Name Section
.creator-pic-and-name {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.showTrack-creator-pic-link {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.showTrack-creator-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

.showTrack-creator-name {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    max-width: 120px;
    
    overflow: hidden;
    // white-space: nowrap;
    white-space: wrap;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: center;

    color: #333;
    &:hover {
        // color: #333;
    }
}



// Show Track Right Side (Below Banner) -------------------------------------->
// - For Social Links + Language: English Footer 


.below-show-track-banner-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
}

.below-show-track-banner-right-margin {
    margin-left: 30px;
    // border: 1px solid blue;
}



// "Footer"

.showTrack-footer {
  border-top: 1px solid #f2f2f2;
//   margin-top: 55px;
  margin-top: 39px;
}

.showTrack-footer-links {
  display: flex;
}

.showTrack-footer-links a, .showTrack-footer-links li {
  color: #ccc;
  font-size: 13px;
  line-height: 18px;
  margin-top: 12px;
}

.showTrack-footer-links li {
  margin-left: 4px;
  margin-right: 4px;
}

.showTrack-footer-socials:hover {
  color: #b8b8b8;
}

.showTrack-language-text {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin-top: 6px;
}