.showUserBody {
    width: 960px;
    margin: auto;
    background-color: white;
}

.showUser-padding-top {
    padding-top: 48px;
}

// Show User Banner ------------------------->
.showUser-banner {
    width: 960px;
    height: 260px;
    background: rgb(79,84,196);
    background: linear-gradient(90deg, rgba(79,84,196,1) 30%, rgba(255,163,163,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
}

.show-user-banner-margin {
    // border: 1px solid pink;
    height: 200px;
    width: 920px;
    margin: 20px 0px;
    display: flex;
}

// * * * Show User Banner Content (User Profile Pic, User Username) ---->
.prof-pic-and-replace-button {
    position: relative;
    display: inline-block;
    margin-right: 30px;

    width: 200px;
    height: 200px;
    border-radius: 50%;

    // &:hover {
    //     cursor: pointer;
    // }
}

// User Profile Pic
.showUserProfilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

// Update image ------>

.update-profile-pic-all {
  position: absolute;
  left: 50%;
  top: 166px;
  transform: translate(-50%, -50%);

  font-size: 14px;
  padding: 6px 0px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background-color: hsla(0,0%,100%,.8);
  width: 128px;
  justify-content: center;

  display: none;
}


.prof-pic-and-replace-button:hover .update-profile-pic-all {
    display: flex;
}

.update-profile-pic-all:hover {
    cursor: pointer;
    border: 1px solid #cecece;
    background-color: white;
}

#update-profile-pic-camera-icon {
    color: #333;
    height: 14px;
    width: 14px;
    margin-right: 8px;
}

/// --------------------------------------------------------------------------->

.showUser-banner-right {
    display: flex;
    flex-direction: column;
}

.showUser-username {
    display: inline;
    color: #fff;
    background-color: #000000CC;
    font-size: 24px;
    font-weight: lighter;
    line-height: 38px;
    padding: 5px 7px;

    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showUser-join-date {
    margin-top: 5px;

    color: #ccc;
    background-color: #000000CC;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 7px 0px;
}

/// --------------------------------------------------------------------------->


// Below Show User Banner (All) ----------------------------------------------->
.below-show-user-banner-all {
    width: 960px;
}


.below-show-user-banner-all-margin {
    margin: 0px 20px;
    // border: 1px solid pink;
}


// - "All Tracks" Tab

.show-user-all-tracks-tab-parent {
    width: 100%;
    margin-top: 16px;
    height: 34px;
    border-bottom: 1px solid #f2f2f2;
}

.show-user-all-tracks-tab {
    display: inline-block;
    font-size: 18px;
    line-height: 34px;
    height: 34px;
    color: #333;
    border-bottom: 1px solid #111abd;
}


// - Below "All Tracks" Tab (All: Left + Right Sections) ---------------------->

.below-all-tracks-tab-all {
    margin: 23px 20px 0px;
    display: flex;
}


// C+P (must edit) * * * * * * * 



// - Below Show Track Banner Left Side


.below-all-tracks-tab-left {
    height: 900px;
    width: 580px;
    border: 1px solid pink;
    border-right: 1px solid #f2f2f2;
    padding-right: 20px;
}







// Show Track Right Side (Below Banner) -------------------------------------->
// - For Social Links + Language: English Footer 


.below-showAllTrack-tab-right {
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
}


// Show User Info (Number of Tracks Created, etc)

.show-user-info-all {
    // border: 1px solid green;
    margin-top: 4px;
}

.show-user-info-total-tracks-parent {
    height: 46px;
    display: flex;
    flex-direction: column;
    // border: 1px solid gold;
}

.show-user-info-total-tracks-text {
    display: inline-block;
    color: #999;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 1px;
}

.show-user-info-total-tracks-number {
    color: #999;
    font-size: 22px;
    font-weight: 340;
    line-height: 26px;
    margin-left: 4px;
}

// "Footer" (Show User Page Ver)

.below-showAllTrack-tab-footer {
  border-top: 1px solid #f2f2f2;
//   margin-top: 20px;
    margin-top: 5px;
}

.below-showAllTrack-tab-footer-links {
  display: flex;
}

.below-showAllTrack-tab-footer-links a, .below-showAllTrack-tab-footer-links li {
  color: #ccc;
  font-size: 13px;
  line-height: 18px;
  margin-top: 12px;
}

.below-showAllTrack-tab-footer-links li {
  margin-left: 4px;
  margin-right: 4px;
}

.below-showAllTrack-tab-footer-socials:hover {
  color: #b8b8b8;
}

.below-showAllTrack-tab-language-text {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin-top: 6px;
}














// ----> 
// - PLaceholder: remove later

.showUserTrackArt {
    height: 64px;
    width: 64px;
}
