.showUserBody {
    width: 960px;
    margin: auto;
    background-color: white;
}

.showUser-padding-top {
    padding-top: 48px;
}

// Show User Banner ------------------------->
.showUser-banner {
    width: 960px;
    height: 260px;
    background: rgb(79,84,196);
    background: linear-gradient(90deg, rgba(79,84,196,1) 30%, rgba(255,163,163,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin-bottom: 22px;
}

.show-user-banner-margin {
    border: 1px solid pink;
    height: 200px;
    width: 920px;
    margin: 20px 0px;
    display: flex;
}

// Show User Banner Content (User Profile Pic, User Username) ---->
.prof-pic-and-replace-button {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}


// Update image ------>

.update-profile-pic-all {
  position: absolute;
  left: 50%;
  top: 166px;
  transform: translate(-50%, -50%);

  font-size: 14px;
  padding: 6px 0px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background-color: hsla(0,0%,100%,.8);
  width: 128px;
  display: flex;
  justify-content: center;
}

.update-profile-pic-all:hover {
    cursor: pointer;
    border: 1px solid #cecece;
    background-color: white;
}

#update-profile-pic-camera-icon {
    color: #333;
    height: 14px;
    width: 14px;
    margin-right: 8px;
}



.prof-pic-and-replace-button:hover {

}


/// -------->



.showUserProfilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.showUser-banner-right {
    display: flex;
    flex-direction: column;
}


.showUser-username {
    display: inline;
    color: #fff;
    background-color: #000000CC;
    font-size: 24px;
    font-weight: lighter;
    line-height: 37px;
    padding: 4px 7px;

    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}








.showUserTrackArt {
    height: 64px;
    width: 64px;
}
