// ---- Below Left v1 Middle Section (aka All Indiv Tracks) ------------------------>
.showUser-indiv-track-all {
    height: 100%;
    width: 580px;
    display: flex;
    margin-bottom: 44px;
    border: 1px solid pink;
}


// -- Left Side: Just Track Cover Art ---------->
.showUser-indiv-track-left {
    height: 160px;
    width: 160px;
    margin-right: 16px;
}

.showUser-indiv-track-art {
    height: 158px;
    width: 158px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

// -- Right Side All (Top + Bottom Sections) ---------->

.showUser-indiv-track-right {
    height: 160px; 
    width: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



// Right Top Section: Play/Pause Button, Track Creation Date, etc. ------->

.indiv-track-right-top-section {
    width: 404px;
    height: 36px;
    display: flex;
    // border: 1px solid red;
}



// -- Play/Pause Button
.showUser-track-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fd6c6c;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 6px;
}

.showUser-track-button:hover {
    background-color: #ff5757;
    cursor: pointer;
}


#showUser-track-play-icon, #showUser-track-pause-icon {
    width: 14px;
    height: 14px;
    color: white;
}

#showUser-track-play-icon {
    margin-left: 3px;
}


// -- Indiv Track Title, Creator + Creation Date (All)
.indiv-track-right-top-rightside {
    height: 36px;
    width: 362px;
    display: flex;
    flex-direction: column;
    // border: 1px solid limegreen;
}

// ---- Track Creator + Track Creation Date (Top)
.track-righttop-rightside-top {
    display: flex;
    justify-content: space-between;

}

.track-rightside-top-creator-name, .track-rightside-top-date {
    font-size: 13px;
    line-height: 16px;
}

.track-rightside-top-creator-name {
    color: #999;

    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-rightside-top-date {
    color: #ccc;
}

// ----- Track Title
.track-rightside-track-title {
    font-size: 15px;
    line-height: 20px;
    color: #333;
    &:hover { color: black; }

    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// ---- Comment Box / Edit + Delete Buttons (Indiv Track Bottom Section) ------>
// [CURRENT WIP] 

.indiv-track-right-bottom-section {
    width: 404px;
    height: 32px;
    // border: 1px solid blue;
}

.bottomSection-comment-box-all {
    width: 402px;
    height: 30px;    
    background: #f2f2f2;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
}

.comment-box-prof-pic {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
