// [WIP] Comments Section All (Top, Middle, Bottom) --------------------------->

.comments-section-all-stuff {
  display: flex;
  flex-direction: column;
  width: 410px;
  border: 1px solid pink;
}






// - Top Section ---------------->

.comments-section-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 12px;
}

#tiny-comment-icon {
  width: 14px;
  height: 14px;
  color: #999;
  margin-right: 8px;
}

.total-comments-text {
  color: #999;
  font-size: 14px;
  // font-weight: lighter;
}








// -[WIP] Middle Section --------------->


.commentProfilePic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .1);
  margin: 10px 0px;
  margin-right: 10px;
}












// Bottom Section --------------->

.comments-section-bottom {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #f2f2f2;
}









// No Comments All ------------------------------------------------------------>
.no-comments-all {
  width: 410px;
  height: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-comment-icon {
  width: 190px;
  height: 190px;
  color: #f2f2f2;
  margin-top: 40px;
  margin-bottom: 20px;
}

.no-comment-top-text {
  font-size: 18px;
  color: #333;
  margin-bottom: 16px;
}

.no-comment-bottom-text {
  font-size: 16px;
  color: #999;
}
